extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h2.w3-center Entidades
                center
                    img(src='https://upload.wikimedia.org/wikipedia/en/e/ed/Nobel_Prize.png' style='width:120px; height:120px;')
            .w3-container
                h4.w3-amber.w3-center Lista de Entidades
                table.w3-table-all
                    tr.w3-teal
                        th Designacao
                        th Sigla
                        th Internacional
                        th Sioe
                        th Estado
                        th Detalhes
                        each p in lista
                            tr.w3-light-gray
                                td=p.designacao
                                td=p.sigla
                                td=p.internacional
                                td=p.sioe
                                td=p.estado 
                                td
                                    form(action="/"+p.id)
                                        button(type='submit' class="fas fa-eye" style="background-color: #FFBF00; color: black; padding: 22px 22px; border-radius: 12px;").w3-hover-teal
            footer.w3-container.w3-teal
                adress Gerado por DWEB-TPC8 App